
@model WebApplication1.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<br />

@if (@ViewBag.Volume > 0)
{

    <p>The volume of the cube would be: @ViewBag.Volume</p>

}


@if (@ViewBag.Surfacearea > 0)
{

    <p>The surface area of the cube would be: @ViewBag.Surfacearea</p>

}

@if (@ViewBag.Area > 0)
{

    <p>The area of the square would be: @ViewBag.Area</p>

}

@if (@ViewBag.Perimeter > 0)
{

    <p>The perimeter of the square would be: @ViewBag.Perimeter</p>

}

<p>@ViewBag.Error</p><br />

<p>@Model.Error</p><br />





